* { //reset settings
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

// color variables
$bg-color-black: #000000;
$txt-color-black: #000000;
$txt-color-white: #ffffff;
$menu-hover-color: #D87D4A;

.header {
    width: 100%;
    height: 6rem;
    background-color: $bg-color-black;
    color: $txt-color-white;
}

.headerContainer {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuList {
    display: none;
    gap: 1rem;

    li {
        list-style-type: none;

        .link{
            text-decoration: none;
            text-transform: uppercase;
            color: $txt-color-white;
            font-size: 0.813rem;
            font-weight: 700;
            line-height: 1.56rem;
            letter-spacing: 0.125rem;
        }

        .link:hover {
            color: $menu-hover-color;
        }
    }
    
}

.footer {
    background-color: $bg-color-black;
}

@media (min-width: 768px) {

    .mobileMenu {
        display: none !important;
    }

    .menuList {
        display: flex;
        gap: 1rem;

        li {
            list-style-type: none;

            .link{
                text-decoration: none;
                text-transform: uppercase;
                color: $txt-color-white;
            }
        }
        
    }

}