* { //reset settings
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// color variables
$bg-color-black: #000000;
$txt-color-black: #000000;
$txt-color-white: #ffffff;

.header {
    width: 100%;
    height: 6rem;
    background-color: $bg-color-black;
    color: $txt-color-white;
}

.headerContainer {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuList {
    display: none;
    gap: 1rem;

    li {
        list-style-type: none;

        .link{
            text-decoration: none;
            text-transform: uppercase;
            color: $txt-color-white;
        }
    }
    
}

@media (min-width: 768px) {

    .mobileMenu {
        display: none !important;
    }

    .menuList {
        display: flex;
        gap: 1rem;

        li {
            list-style-type: none;

            .link{
                text-decoration: none;
                text-transform: uppercase;
                color: $txt-color-white;
            }
        }
        
    }

}